<div class="wrapper">
    <div class="pill">
        <nav class="pill__items">
            <div class="pill__item" [routerLink]="[ 'category' ]" routerLinkActive="active">Category</div>
            <div class="pill__item" [routerLink]="[ 'product' ]" routerLinkActive="active">Product</div>
            <div class="pill__item" [routerLink]="[ 'blog' ]" routerLinkActive="active">Blogs</div>
        </nav>
        <div class="pill__body">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>