.wrapper {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid silver;
    border-radius: 5px;
}
header {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid silver;
    background-color: whitesmoke;
    & input {
        width: 100px;
    }
}
main {
    width: 100%;
    min-height: 400px;
    padding: 20px;
    border: 1px solid silver;
    & div:nth-last-of-type(1) {
        height: 60px;
        border-bottom: 1px solid silver;
    }
}

// відображення стрілок при сортуванні
i {
    visibility: hidden;
}
.activeArrow {
    & i {
        visibility: visible;
    }
}
// -------------------------------------

table {
    width: 100%;
    border-collapse: collapse;
}
th {
    height: 50px;
    border: 1px solid silver;
    text-align: left;
    background-color: rgb(211, 211, 211);
    & span:hover {
        cursor: pointer;
    }
    &:nth-of-type(1) {
        width: 60px;
        text-align: center;
    }
    &:nth-of-type(2) {
        width: 100px;
        padding-left: 10px;
    }
    &:nth-of-type(3) {
        width: 100px;
        padding-left: 10px;
    }
    &:nth-of-type(4) {
        width: 100px;
        text-align: center;
    }
    &:nth-of-type(5) {
        width: 50%;
        text-align: center;
    }
    &:nth-of-type(6) {
        width: 100px;
        text-align: center;
    }
    &:nth-of-type(7) {
        width: 100px;
        text-align: center;
    }
    &:nth-of-type(8) {
        width: 100px;
        text-align: center;
    }
    &:nth-of-type(9) {
        width: 100px;
        text-align: center;
    }
}
tbody tr:hover {
    background-color: whitesmoke;
}

td {
    height: 50px;
    text-align: left;
    border-top: 1px solid silver;
    &:nth-of-type(1) {
        text-align: center;
    }
    &:nth-of-type(2) {
        padding-left: 10px;
    }
    &:nth-of-type(3) {
        padding-left: 10px;
    }
    &:nth-of-type(4) {
        text-align: center;
    }
    &:nth-of-type(5) {
        text-align: center;
    }
    &:nth-of-type(6) {
        text-align: center;
    }
    &:nth-of-type(7) {
        text-align: center;
    }
    &:nth-of-type(8) {
        text-align: center;
    }
    &:nth-of-type(9) {
        text-align: center;
    }
}


// ---- MODAL Add Product-----
.myModal {
    z-index: 3;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    font-size: 22px;
    & span:last-child {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 30px;
        transition: 0.7s;
        &:hover {
            background-color: silver;
            color: red;
            cursor: pointer;
            transform: rotate(360deg);
        }
    }
}

.modal__content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 500px;
    min-height: 640px;
    border-radius: 5px;
}
.modal__body {
    width: 100%;
    min-height: 500px;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    & form {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 20px;
        & div {
            width: 100%;
        }
        & textarea {
            width: 100%;
            height: 100px;
            resize: none;
            outline: none;
            border: 1px solid silver;
            border-radius: 5px;
            padding: 10px;
            &:focus {
                box-shadow: 0px 0px 5px 2px lightgray;
                border: 0;
            }
        }
        & select {
            width: 100%;
            padding-left: 10px;
        }
    }
}
.fileBox {
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;        
    & label {
        & div {
            min-height: 40px;
            width: 150px;
            border: 1px solid silver;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                cursor: pointer;
            }
        }
        & input {
            display: none;
        }
    }
}

.modal__footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    & input {
        height: 30px;
        border-radius: 5px;
        border: 0;
        color: white;
        background-color: gray;
        &:hover {
            cursor: pointer;
            background-color: silver;
            box-shadow: 0px 0px 4px 0px gray;
        }
    }
    & input[value="Close"] {
        width: 60px;
        margin-right: 10px;
    }
    & input[value="Add"] {
        width: 50px;
    }
}

// little MODAL Delete Product
.myModal2 {
    z-index: 3;
    padding-top: 400px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__content2 {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 300px;
    height: 70px;
    border-radius: 5px;
}

.modal__body2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    & input {
        width: 48%;
        &[value="Delete"] {
            background-color: red;
        }
    }
}
